#calendar .table
{
	margin-left:5px;
	border: solid 1px #ccc;
}

#calendar .cell
{
	border-right: solid 1px #ccc;
	border-top: solid 1px #ccc;
	padding:5px;
	width:100px;
}

#calendar .cell:last-child
{
	border-right: solid 0px #ccc;
}

#calendar .header .cell
{
	background-color:#ccc;
	color:#000000;
	border-top: solid 0px #ccc;
}

#calendar .empty
{
	height:100px;
}

#calendar .day
{
	height:100px;
}

#calendar .timelog
{
	border:solid 1px #ccc;
	cursor:pointer;
}

#calendar .timelog.selected
{
	background-color:#ccc;
}

#calendar .cell.over
{
	background-color:#ccc;
}