/*===============*/
/*     ICON      */
/*===============*/

.icon
{
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.icon.toggleOff::before
{
    content: "\f204";
}

.icon.toggleOn::before
{
    content: "\f205";
}

.icon.pointer::before
{
    content: "\f245";
}

.icon.close::before
{
    content: "\f00d";
}

.icon.chevron-up::before
{
    content: "\f077";
}

.icon.chevron-left::before
{
    content: "\f053";
}

.icon.chevron-right::before
{
    content: "\f054";
}

.icon.spinner::before
{
    content: "\f110";
}

.icon.option::before
{
    content: "\f013";
}