#splash_shade {
	position: fixed;
	background-color: #CCCCCC;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	z-index: 999998;
	width: 100%;
	height: 100%;
}

#splash_align {
	position: fixed;
	z-index: 999999;
	top: 50%;
	width: 100%;
	text-align: center;
}

#splash_align.error #splash_sizer {
	background-image: url('../images/splash/error.png');
}

#splash_align.success #splash_sizer {
	background-image: url('../images/splash/success.png');
}

#splash_align.wait #splash_sizer {
	background-image: url('../images/splash/wait.gif');
}

#splash_align.info #splash_sizer {
	background-image: url('../images/splash/info.png');
}

#splash_align.warn #splash_sizer {
	background-image: url('../images/splash/warn.png');
}

#splash_sizer {
	width: 70px;
	height: 70px;
	margin: 0px auto;
	background-repeat: no-repeat;
	background-position: center top;
}

#splash_content {
	margin: 0px auto;
	margin-top: -100px;
	display: inline-block;
	text-align: center;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

#splash_text {
	
}

#splash_button {
	margin-top:10px;
}

#splash_progress_outer {
	width: 250px; 
	height: 3px; 
	border: 1px solid #CCCCCC; 
	overflow: hidden; 
	display: inline-block; 
	border-radius: 2px; 
	text-align: left;
}

#splash_progress_inner {
	height: 3px; 
	background-color: #44AAFF;
}