
.treeItem {
	cursor: default;
	padding: 3px 0px 3px 20px;
}

.treeItem.openable {
	padding: 0px 0px 0px 20px;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('../images/tree/close.gif');
}

.treeItem.openable.open {
	background-image: url('../images/tree/open.gif');
}

.treeItem.level_0 { margin-left: 0px; }
.treeItem.level_1 { margin-left: 20px; }
.treeItem.level_2 { margin-left: 40px; }
.treeItem.level_3 { margin-left: 60px; }
.treeItem.level_4 { margin-left: 80px; }
.treeItem.level_5 { margin-left: 100px; }

.treeItem.openable.open > .treeItemChildrenContainer { display: block; }
.treeItem.openable > .treeItemChildrenContainer { display: none; }

.treeItem.dragTop {
	border-top: 3px solid #44CCFF;
}

.treeItem.dragBottom {
	border-bottom: 3px solid #44CCFF;
}

.treeItem .folder
{
	line-height:22px;
}

.treeItem .task
{
}

.treeItem .task:hover
{
	background-color:#424242;
	color:white;
}