@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body 
{ 
	width: 100%;margin: 0px; padding: 0px; border: 0px;
	background-color:#eee;
	font-family: 'Roboto', sans-serif; 
	font-size:12px;
	color:#424242;
}

a img { border: 0px none transparent; }
a {text-decoration:none;}
optgroup { background-color: white !important; font-weight: normal; border-top: 1px solid black; text-align: center; white-space: wrap; }

@font-face{font-family:'Glyphicons Regular';src:url('glyphicons-regular.eot');src:url('glyphicons-regular.eot?#iefix') format('embedded-opentype'),url('glyphicons-regular.woff') format('woff'),url('glyphicons-regular.ttf') format('truetype'),url('glyphicons-regular.svg#glyphiconsregular') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'fontawesome';src:url('fontawesome-webfont.eot');src:url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('fontawesome-webfont.woff') format('woff'),url('fontawesome-webfont.ttf') format('truetype'),url('fontawesome-webfont.svg') format('svg');font-weight:normal;font-style:normal}

h1 { font-size: 2em; margin: 17px 0 }
h2 { font-size: 1.5em; margin: 15px 0 }
h3 { font-size: 1.17em; margin: 13px 0 }


.clear{
	clear:both;
}

/****************/
/*  INTERFACE   */
/****************/

#header
{
	position:fixed;
	height:100px;
	width:100%;
	border-bottom: 1px solid #ccc;
}

#header .title
{
	line-height:100px;
	font-weight:bold;
	margin-left:20px;
	font-size:20px;
}

#foldersContainer
{
	position:fixed;
	width:300px;
	top:101px;
	bottom:0px;
	border-right: 1px solid #ccc;
	overflow-y : auto;
}

#calendarContainer
{
	position:fixed;
	left:301px;
	right:0px;
	top:101px;
	bottom:0px;
}

#calendarBar
{
	width:100%;
	height: 40px;
	line-height:40px;
	display:inline-block;
	margin-left:10px;
}

#calendar
{
	position:fixed;
	left:301px;
	right:0px;
	top:141px;
	bottom:0px;
	overflow: auto;
}

/************/
/*  TABLE   */
/************/
.table{
	display:table;
}

.table .row{
	display:table-row;
}

.table .row .cell{
	display:table-cell;
}

/**************/
/*  OVERLAY   */
/**************/

.overlay
{
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 0%);
    position: fixed;
    top: 0;
    bottom: 0;
	width: 100%;
    height: 100%;
    z-index: 999;
}

.overlay.close
{
	cursor: url("../images/closebig.png"), pointer;
}


/**************/
/*  POPUP     */
/**************/
.popup{
     position:absolute;
     background:#ccc;
     padding:5px;
	 width: 200px;
	 height: 80px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);	 
	 transform:scale(0) rotate(-12deg);
	 transition:all .25s;
	 opacity:0;
	 z-index:10;
	 display:none;
}

.popup.open{
	transform:scale(1) rotate(0);
	opacity:1;
}


.popup:after {
  content: "";
  position: absolute;
  top: 86px;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #ccc;
  margin-left: -5px;
  margin-bottom: -5px;
  z-index: 9;
  box-shadow: 0 0 5px #CCC;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup .header
{
	height:20px;
	display:inline-block;
	line-height: 20px;
	width:100%;
	font-weight:bold;
	text-align:center;
}

.popup .container
{
	height:20px;
	display:inline-block;
	line-height: 20px;
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
}

.popup .footer
{
	height:20px;
	display:inline-block;
	line-height: 20px;
	width:100%;
	text-align:center;
}

.popup .footer a
{
	min-width:60px;
}

.popup .footer a:first-child
{
	margin-right:5px;
}

/**********************/
/*     BUTTON         */
/**********************/

a.button
{
	font-size: 13px;
    font-weight: normal;
	background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    background-color: #f5f5f5;
    background-image: linear-gradient(to center top , #f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    color: #444;
    cursor: default;
    font-size: 12px;
    height: 27px;
	display: inline-block;
    line-height: 27px;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
	text-decoration:none;
	cursor:pointer;
}

a.button:hover
{
	border: 1px solid #4285f4;
	background-color: #3399FF;
	color:white;
}

input.button
{
    font-weight: normal;
	background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    background-color: #f5f5f5;
    background-image: linear-gradient(to center top , #f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    color: #444;
    cursor: default;
    font-size: 12px;
    height: 27px;
	display: inline-block;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
	text-decoration:none;
	cursor:pointer;
}